/* body {
    font-family: Arial;
    margin: 0;
}

header{
    width: 50%;
}
.navbar-nav li a{
    color: #fff;
    font-size : 15px;
}
.btn-color{
    color: #867c20;
}

.bg-dark{
    background-color: #551f3e !important;
    color: #fff;
}
#texttracuu {
    color: red;
    font-size: 18px;
}
.wid_50{
    width : 200px !important;
    
}
.tien{
    background-color: rgb(190, 16, 16);
    color: aqua;
}
.form_log{
    color:blue;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    
} */
.huy{
    background-color: rgb(204, 11, 59) !important;

}